
{% extends 'core/base.html' %}
 {% block content%}

  <div class=" container mt-5" >
      <h1 class="text-warning mb-5 border-bottom"> SERVICES</h1>

      <div class="row text-white text-center mb-5">
          <div class="col-sm-4">
              <i class="fa-solid fa-magnifying-glass fa-2x mb-3 i-color"></i>
              <h3>SEO</h3>
              <p clas="ss-color">SE0 is search engine optimization and the sep of a website increase the reach of
                  a website and this is good organic way to get traffic in the website
              </p>


          </div>

          <div class="col-sm-4">
               <i class="fa-solid fa-palette fa-2x mb-3 i-color"></i>

              <h3>Web Designing</h3>
              <p class="ss-color"> Web designing is the process of planning, conceptualizing, and implementing the plan for designing a
                  website in a way that is functional and offers a good user experience
              </p>


          </div>

          <div class="col-sm-4">
              <i class= "fa-solid fa-code fa-2x mb-3 i-color"></i>
              <h3>Web Development</h3>
              <p class="ss-color">

                 Web development is the building and maintenance of websites; it's the work that happens behind the scenes to
                  make
                  a website look great, work fast and perform well with a seamless user experience
              </p>


          </div>
      </div>

       <div class="row text-white text-center mb-5">
          <div class="col-sm-4">
               <i class="fa-brands fa-android fa-2x mb-3 i-color"></i>
              <h3>Android</h3>
              <p clas="ss-color"> The Android operating system is a mobile operating system that was developed by Google
                  (GOOGL​) to be primarily used for touchscreen devices, cell phones, and tablets.
              </p>


          </div>

          <div class="col-sm-4">
              <i class="fa-brands fa-apple fa-2x mb-3 i-color"></i>
              <h3>IOS</h3>
              <p class="ss-color"> Apple iOS stands for iPhone operating system and is designed for use with
                  Apple's multitouch devices.
              </p>


          </div>

          <div class="col-sm-4">
              <i class= "fa-solid fa-ad fa-2x mb-3 i-color"></i>
              <h3>Advertising</h3>
              <p class="ss-color">

                  Advertising is a form of communication used to persuade an audience to take some action,
                  usually with respect to a commercial offering, such as an item for sale or a service.
              </p>


          </div>
      </div>

       <div class="row text-white text-center mb-5">
          <div class="col-sm-4">
              <i class="fa-solid fa-pencil fs-2x mb-5 i-color"></i>
              <h3>Logo Design</h3>
              <p clas="ss-color"> JPEGs (also known as JPG files) are a standard logo file format for digital use.
                  Clients and developers often use JPEG files. While JPEGs have a slightly lower resolution
                  than PNG files, JPEG images load faster on websites.
              </p>


          </div>

          <div class="col-sm-4">
               <i class="fa-solid fa-database fa-2x mb-3 i-color"></i>

              <h3>Hosting</h3>
              <p class="ss-color"> Hosting, in its most generic sense, is a service through which storage and computing
                  resources are providing to an individual or organization for the accommodation and maintenance
                  of one or more websites and related services.
              </p>

bbbbbbbbh
          </div>

          <div class="col-sm-4">
              <i class= "fa-solid fa-headset fa-2x mb-3 i-color"></i>
              <h3>Support</h3>
              <p class="ss-color">
                  Many of the noun synonyms of help can be used with the word provide to create synonyms of the verb sense:


              </p>


          </div>
      </div>
  </div>
{% endblock content%}